@use "./utilities";
.restaurant-titles {
    margin-bottom: 14px;
    font-size: 30px;
}

.restaurant-card {
    background-color: #FFD35A;
}

.restaurant-card .badge{
    background-color: #DC0083;
}