@use "./utilities";
.restaurant-titles {
    margin-bottom: 14px;
    font-size: 30px;
}

.restaurant_img{
    // width: 280px;
    object-fit: contain;
    aspect-ratio: 1/1;
}
.restaurant-card {
    background-color: #faebcd;
}

.restaurant-card .badge{
    background-color: #f09c65;
}

.table.orders-table {
    --bs-table-bg: #faebcd;
    --bs-table-border-color: rgba(0, 0, 0, 0.242);
}