@use "./utilities";
.restaurant-titles {
    margin-bottom: 14px;
    font-size: 30px;
}

.restaurant-card {
    background-color: #faebcd;
}

.restaurant-card .badge{
    background-color: #f09c65;
}