@use './utilities';
.bg-yellow{
    background-color: #FFA62F;
}

.img-dish{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.home-page-foto {
    width: 100%; 
    border-radius: 15px; 
    margin-top: 35px
}

.fs-show {
    font-size: 16px;
}