:root{
    --color-orange: #F09C65;
    --color-yellow: #FCDC94;
    --color-lightgreen: #C7CFA0;
    --color-green: #78AAA8;
    --color-darkgreen: #40684E;
}

a{
    color: currentColor;
    text-decoration: none;
}

ul,ol,menu{
    list-style: none;
}

img{
    max-width: 100%;
}